@use './colors.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

html {
	background: hsla(var(--color-app), 1);
}

body {
	@apply font-plex text-ink bg-app;
}


